// breakpoints
$xl: 1440px;
$lg: 1170px;
$md: 960px;
$sm: 780px;
$xs: 560px;
// offsets
$offset-full: 120px;
$offset-xl: 100px;
$offset-lg: 80px;
$offset-md: 60px;
$offset-sm: 40px;
$offset-xs: 20px;
$offset: 15px;
// grid
$colms: 12;
$container-width: #{$xl};
$container-width-xl: #{$lg};
$container-width-lg: #{$md};
$container-width-md: #{$sm};
$container-width-sm: #{$xs};
$container-width-xs: 440px;
// colors
$primary: #343C8C;
$secondary: #F9B233;
$success: #219653;
$danger: #EB5757;
$warning: #ffdd66;
$info: #2F80ED;
$light: #ffffff;
$dark: #000000;
$muted: #f7f7fa;
$gray: #eeeeee;
// transitions
$transition: all 0.15s ease;
// typography
$html-fz: 20px;
$html-fz-xl: 19px;
$html-fz-lg: 18px;
$html-fz-md: 17px;
$html-fz-sm: 16px;
$html-fz-xs: 15px;
$font: 'Montserrat',
sans-serif;